{% for item in accessports %} 
 
{% for access in item.ports %} 
{% if "-" in access|string %}
interface range {{ access }}
{% else %}
interface {{ access }} 
{% endif %}
  switchport mode access 
  switchport access vlan {{ vlans[item.vlan].id }} 
  spanning-tree portfast
  spanning-tree bpdufilter enable
  no shutdown 
{% endfor %} 
 
{% endfor %}